.dirty-profile {
   width:100px;
   border-color: black;
   border-style: solid;
   display:inline-block;
   vertical-align: top;
}

.dirty-profile .dirty-items-container {
  height:500px;
  border-color: blue;
  border-style: solid;
  overflow-x: hidden;
  overflow-y: hidden;

}
