.street-profile {
   background-color:grey;
   white-space:nowrap;
   height:100px;
   display:inline-block;
   width: auto;
   max-width: 1800px;
   position:absolute;
   top:500px;
   left: 550px;
}


 .placeholder{
  height:80px;
  width:100px;
  display:inline-block;
}

 .placeholder {
  height: 1px !important;
}
