.street-profile {
   background-color:grey;
   white-space:nowrap;
   height:100px;
   display:inline-block;
   width: auto;
   max-width: 1800px;
   position:absolute;
   top: 10%;
   left: 35%;
}

 .placeholder{
  height:150px;
  width:100px;
  display:inline-block;
}

.placeholder {
  height: 1px !important;
}
