.street-profile {
   background-color:grey;
   white-space:nowrap;
   overflow-x: scroll;
   overflow-y:hidden;
   height:100%;
   width:850px;
}


 .placeholder{
  height:80px;
  width:100px;
  display:inline-block;
  margin: 4px;
}

 .placeholder {
  height: 1px !important;
}
