.street-profile {
   height:730px;
   white-space:nowrap;
   vertical-align:top;
   border-width: 1px;
   border-style: solid;
   border-color: green;
   overflow: hidden;
   display:inline-block;
   margin: 0;
   padding: 0;

}
