.street-profile {
   height:710px;
   white-space:nowrap;
   display:inline-block;
   vertical-align:top;
   border-width: 1px;
   border-style: solid;
   border-color: green;

}


.placeholder{
  display:inline-block;
}

.placeholder {
  height: 1px !important;
}
