<div class="green-profile">
    <button class="scroll-button-top" ng-click="scrollUp()"></button>
    <div class="green-items-container">
        <div class="green-item"><img class='small-image-green' id="cyclistSmallFront" ng-src="{{imagesTransport.cyclistSmall.front}}"> </div>
        <div class="green-item"><img class='small-image-green' id="elcarSmallFront" ng-src="{{imagesTransport.elcarSmall.front}}"></div>
        <div class="green-item"><img class='small-image-green' id="tramSmallFront" ng-src="{{imagesTransport.tramSmall.front}}"></div>
        <div class="green-item"><img class='small-image-green' id="sidewalkSmallFront" ng-src="{{imagesTransport.sidewalkSmall.front}}"></div>
        <div class="green-item"><img class='small-image-green' id="treeSmallFront" ng-src="{{imagesTransport.treeSmall.front}}"></div>
        <div class="green-item"></div>
        <div class="green-item"></div>
        <div class="green-item"></div>
    </div>
    <button class="scroll-button-bottom" ng-click="scrollDown()"></button>
</div>
