<div class="profile-item-container">

    <div class="item-menu">
        <div class="options-container">
            <div class="item-direction" ></div>
            <input type="text" id="manual-input" class="width-input" width="currentElementWidth"  ng-model="currentElement.parentWidth" ng-keyup="$event.keyCode == 13 && applyNewWidth()"></input>

            <div class="item-remove"></div>
        </div>
    </div>

    <div class="item-resize"></div>
    <div class="item-transortmode-picture"></div>
    <div class="item-transportmode-pavement"></div>
    <div class="item-dimensions"></div>
</div>
