<div class="profile-item-container">
    <div class="item-menu">
        <div class="options-container">
           <div class="options-group-container">
              <div class="item-direction" ><p>F</p></div>
              <input type="text" id="manual-input" class="width-input" width="currentElementWidth"  ng-model="currentElement.parentWidth" ng-keyup="$event.keyCode == 13 && applyNewWidth()"></input>
              <button class="item-remove" ng-click="removeItem()">DEL</button>
          </div>
          <div class="item-extra-options"></div>
        </div>
    </div>

    <div class="item-resize"></div>
    <div class="item-transportmode">
        <img class='big-image' ng-style="{'width':'auto', 'height':setImageHeight()}" id="{{imageID}}" ng-src="{{imageUrl}}" scale="{{imageScale}}">
    </div>
    <div class="item-transportmode-pavement">
        <div class="button-extra-options" ></div>
    </div>
    <div class="item-dimensions"></div>
</div>
