<div class="container">
  <div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Save your street profile</h3>
      </div>
      <div class="panel-body">
        <button ng-click='saveProfile()'>Save</button>
        <button ui-sref ='landing.enterStreetProfileData'>Make new</p>
        <button ng-click='goBack()'>Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
