
    <div class="street-profile" >
        <div class="item">
           <div class="resize-arrow-left"></div>
           <div class="resize-arrow-right"></div>
        </div>
        <div class="item">
           <div class="resize-arrow-left"></div>
           <div class="resize-arrow-right"></div>
        </div>

        <div class="item">
           <div class="resize-arrow-left"></div>
           <div class="resize-arrow-right"></div>
        </div>

        <div class="item">
           <div class="resize-arrow-left"></div>
           <div class="resize-arrow-right"></div>
        </div>
        
    </div>
